
{% extends 'websitesi/components/layout.html' %}
{% load static %}

{% block titleMeta %}

    <title>Atik Hukuk & Danışmanlık - Hakkımızda</title>
    <meta name="description" content="Avukat Yetkin Atik tarafından kurulan Ankara'daki Atik Hukuk Bürosu hakkında tanıtıcı yazılardır.">
{% endblock %}


{% block styles %}

    {{ block.super }}
    <link href="{% static 'websitesi/css/odometer-theme-default.css' %}" rel="stylesheet">

{% endblock %}


{% block body %}


           <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="title">
                            <h2>Hakkımızda</h2>
                        </div>
                    </div>
                </div> <!-- end row -->
                <ol class="breadcrumb">
                    <li><a href="{% url 'anasayfa' %}">Ana Sayfa</a></li>
                    <li><a href="{% url 'hakkimizda' %}">Hakkımızda</a></li>
                </ol>
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->


        <!-- start about-section-s3 -->
        <section class="about-section-s3 section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-5">
                        <div class="about-title">
                            <div class="img-holder">
                                <img src="{% static 'websitesi/images/atik-hukuk-ankara-hakkimizda-logo.png' %}" alt="Avukat Yetkin Atik Kimdir">
                            </div>
                        </div>
                    </div>

                    <div class="col col-md-7">
                        <div class="about-text">
                            <div class="title-text">
                                <h2>Atik Hukuk <br>Hakkında</h2>
                                <p>Hukuk & Danışmanlık Hizmetleri</p>
                            </div>

                            <h4>Yetkin Atik önderliğinde kurulan Atik Hukuk & Danışmanlık müvekkillerine en kaliteli hizmeti sunmayı amaçlar</h4>
                            <p>ATİK Hukuk Bürosu olarak insanlık tarihi kadar eski bir geçmişe sahip olan “Hukuk” kavramının her alanda üstünlüğünü savunarak ülkemizin en saygın ve başarılı hukuk bürolarından birisi olma hedefiyle yola çıktık.</p>
                            <p>Araştırmacı kişilikleri ağır basan ve yenilikçi bir kadro ile gizlilik prensipleri çerçevesinde tüm mesleki ve ahlaki değerlerimize saygılı bir hukuk bürosu olmak önceliğimiz çerçevesinde; ticaret hukuku, iş hukuku, aile hukuku, sözleşmeler hukuku, sigorta hukuku, sağlık hukuku, gayrimenkul/menkul hukuku, icra hukuku ve ceza hukuku alanlarında hizmetlerimizi sunuyoruz.</p>
                        </div>
                    </div>
                </div> <!-- end row -->
                <br><br><br>
                <hr>
                <div class="row">


                    <div class="col col-md-12">
                        <div class="about-text">
                            <div class="title-text">
                                <h2>Misyonumuz & <br>Vizyonumuz</h2>
                                <p>Kimiz ve Neyi Amaçlıyoruz?</p>
                            </div>

                            <h4>Vizyonumuz</h4>
                            <p>ATİK Hukuk Bürosu dünya standartlarında hizmet veren bir kurum olmayı vizyon edinerek devamlı olarak kendini yenileyen ve geliştiren bir kadro ile Hukukun her alanda kayıtsız şartsız üstünlüğü ilkesini egemen kılmayı amaç edinmiştir. Bu bağlamda devamlı olarak kendisini geliştirerek yenilikçi bir hizmet anlayışı ile müvekkilleri ve danışmanlık görevi üstlendiği firmalara sunmuş olduğu hizmet ile değişime ve gelişime ayak uydurma, öncülük etmeyi amaç edinmiştir.</p>
                            <p>Bu temel hedefler çerçevesinde hizmetine başlamış ATİK Hukuk Bürosu, engin bilgi deneyimi ve tecrübesi ile hedefine ulaşabilmek adına kararlı bir şekilde hizmetlerini sürdürerek Hukuk camiası içerisinde standartlardan uzaklaşarak farklı ve yenilikçi bir hizmet anlayışı sunmaktadır.</p>
                            <p>Av. Yetkin Atik, üniversite eğitiminin tamamlanması ardından staj hizmetini tamamlayarak kendi hukuk bürosunu açarak meslek hayatına başlamıştır. ATİK Hukuk Bürosu, sosyal sorumluluk çerçevesinde hukukun gelişimi konusunda katkılar sağlamayı temel araçları arasında kabul etmiştir. </p>
                            <h4>Misyonumuz</h4>
                            <p>ATİK Hukuk Bürosu olarak vizyonumuz ülkemizde hukuk hizmetini çağdaş seviyeye ulaştırma, yenilikçi yaklaşımlarıyla sektöre yön verme ve uzmanlık alanlarında hizmet sunmaktır. Bu bağlamda ATİK Hukuk Bürosu müvekkilleriyle karşılıklı bir güven ortamı oluşturma ve bu güven ortamı çerçevesinde sorunların çözümü konusunda çözüm alana dek profesyonel çerçevede birebir ilgilenen bir hukuk bürosu olmayı amaç edinmiştir.</p>
                            <p>ATİK Hukuk Bürosu, yeni yayınlanan ve değişikliğe uğrayan yasaları yakinen takip ederek müvekkillerine devamlı olarak yenilikçi çözümler sunan bir hizmet anlayışı ile ezbere dayılı bir hizmettense kişiye özel çözümler üreterek hizmet sunmayı hedeflemektedir.</p>
                        </div>
                    </div>
                </div> <!-- end row -->


            </div> <!-- end container -->
        </section>
        <!-- end about-section-s3 -->


        <!-- start features-section-s2 -->
        <section class="features-section-s2">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="feature-grids">
                            <div class="grid">
                                <div class="icon">
                                    <i class="fi flaticon-balance"></i>
                                </div>
                                <h3>Kaliteli Avukatlık</h3>
                                <p>Atik Hukuk Kalitesini Getiren Uzman Ekip</p>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                    <i class="fi flaticon-trophy"></i>
                                </div>
                                <h3>Etkili Hukuki Hizmet</h3>
                                <p>Av. Yetkin Atik Önderliğinde Sağlanan Etkili Hukuki Çözümler</p>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                    <i class="fi flaticon-courthouse"></i>
                                </div>
                                <h3>Hukukta Tecrübe</h3>
                                <p>Atik Hukuk Ekibinin Yıllara Sarih Tecrübesi</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end features-section-s2 -->

                <section class="about-section-s3 section-padding">
            <div class="container">
                <div class="row">


                    <div class="col col-md-7">
                        <div class="about-text">
                            <div class="title-text">
                                <h2>Avukat Yetkin <br>Atik Kimdir?</h2>
                                <p>Atik Hukuk & Danışmanlık</p>
                            </div>

                            <h4>Biyografi</h4>
                            <p>Av. Yetkin Atik, Lise eğitimini Ankara Doğa Kolejinde tamamlamış ve daha sonrasında Altınbaş Üniversitesi Hukuk Fakültesi’nden 2017 yılında mezun olmuştur. Lisans eğitimini İngilizce olarak tamamlayan Atik iyi derece İngilizce bilmektedir. Yerli ve yabancı birçok kaynağa rahatlıkla ulaşabilen Atik, ileri seviye İngilizce bilgisi sayesinde tüm kaynaklara rahatlıkla ulaşarak daha fazla kişiye hizmet sunabilmekte.</p>
                            <p>Av. Yetkin Atik, kariyeri süresince birçok konferans ve seminere katılım göstermiş, ilgili etkinliklerde konuşmacı olarak görev alarak kendisini devamlı geliştirmiştir. Devam eden “Özel Hukuk Yüksek Lisansı” eğitimi sayesinde her geçen gün bilgi ve birikimini arttırarak hukuki bilim konusunda geniş bir bilgi birikimine sahip olmuştur.</p>
                            <br>
                        </div>
                    </div>

                    <div class="col col-md-5">
                        <div class="about-title">
                            <div class="img-holder">
                                <img style="height: 600px;" src="{% static 'websitesi/images/yetkin-atik.png' %}" alt="Avukat Yetkin Atik Kimdir">
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>


        <!-- start fun-fact-awards-section -->
        <section class="fun-fact-awards-section">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-5 col-md-5">
                        <div class="funfact-grids">
                            <div class="grid">
                                <div>
                                    <h2><span class="odometer" data-count="85">00</span></h2>
                                </div>
                                <p>Müvekkil</p>
                            </div>
                            <div class="grid">
                                <div>
                                    <h2><span class="odometer" data-count="243">00</span></h2>
                                </div>
                                <p>Çözülen Dava</p>
                            </div>
                            <div class="grid">
                                <div>
                                    <h2><span class="odometer" data-count="385">00</span></h2>
                                </div>
                                <p>Uyuşmazlık</p>
                            </div>
                            <div class="grid">
                                <div>
                                    <h2><span class="odometer" data-count="5">00</span></h2>
                                </div>
                                <p>Kişilik Ekip</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-7 col-md-7">
                        <div class="award-grids-outer">
                            <h2>Sayılarla Atik Hukuk</h2>
                            <div class="award-grids">
                                <div class="grid">
                                    <h3 style="color : white" class="text-center">Hızlı Hukuki Çözüm</h3>
                                    <p style="color : white" class="text-center">Avukat Yetkin Atik'in kurduğu Atik Hukuk Bürosu'nun hızlı ve yerinde çözüm anlayışı ile tanışın. </p>
                                </div>
                                <div class="grid">
                                    <h3 style="color : white" class="text-center">Güvenilir Danışmanlık</h3>
                                    <p style="color : white" class="text-center">Atik Hukuk sözde ve özde güvenilirdir; avukatlık mesleğini etik prensipler çerçevesinde yapar</p>
                                </div>
                                <div class="grid">
                                    <h3 style="color : white" class="text-center">Dinamik Kadro</h3>
                                    <p style="color : white" class="text-center">Avukat Yetkin Atik'in dinamik kadrosu ile sürüncemede kalan hukuki uyuşmazlıklara son  </p>
                                </div>
                                <div class="grid">
                                    <h3 style="color : white" class="text-center">Tecrübeli Ekip</h3>
                                    <p style="color : white" class="text-center">Atik Hukuk ekibinin yıllara sarih tecrübesi ile hukuki sorunlarınızda bir adım öndesiniz</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end fun-fact-awards-section -->
    <br><br><br>






{% endblock %}