{% extends 'websitesi/components/layout.html' %}
{% load static %}

{% block titleMeta %}

    <title>Atik Hukuk - Ceza Hukuku</title>
    <meta name="description" content="Atik Hukuk Bürosu Ceza Hukuku alanında Ankara merkezli olmak üzere müvekkillerinin savunmalarını yapmakta ve ceza davalarını yürütmektedir."
{% endblock %}


{% block body %}

            <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="title">
                            <h2>Ceza Hukuku</h2>
                        </div>
                    </div>
                </div> <!-- end row -->
                <ol class="breadcrumb">
                    <li><a href="{% url 'anasayfa' %}">Ana Sayfa</a></li>
                    <li><a href="{% url 'cezahukuku' %}">Ceza Hukuku</a></li>
                </ol>
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->


        <!-- start service-single-section -->
        <section class="service-single-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-8 col-md-push-4">
                        <div class="service-single-content">
                            <div class="service-pic">
                                <img src="{% static 'websitesi/images/atik-hukuk-ceza-hukuku.png' %}" alt="Atik Hukuk Ceza Hukuku Avukatı">
                            </div>
                            <h2>Ceza Hukuku</h2>
                            <p>Ceza Hukuku, kanun tarafından bireylerin uygulaması ya da uyması emredilen eylemlerin yapılması, kanun tarafından yasaklanan ve kesinlikle yapılmaması gereken eylemlerin yapılması sonucunda meydana gelen suçla ilgili yaptırımların ne olacağıyla ilgilenen hukuk dalıdır. Atik hukuk olarak Ceza Hukuku konusunda Yetkin Atik başta olmak üzere tecrübeli kadrosuyla Ankara bölgesi başta olmak üzere tüm Türkiye’ye hizmet vermekte.</p>
                            <p>Ceza Hukuku’nun temel amacı toplum içerisinde yer alan bireylerin hak ve özgürlüklerini korumanın yanı sıra toplum içerisinde barışın hüküm sürmesi ve hukuk düzeni & kamu düzeninin korunmasını sağlayarak suç ya da suçların işlenmesini önlemektir. İlgili hukuk dalı kapsamında suç tipleri, yaşanmış olay ya da olaylarda nedensellik bağı, kusur, zaman, yer ve yaş gibi birçok detaya dikkat edilir.</p>

                            <h3>Ceza Hukuku Nedir ?</h3>

                            <p>Ceza Hukuku, suç ve ceza kavramlarının ele alındığı bir kamu hukukudur. Kendi içerisinde “Genel Ceza Hukuku” ve “Özel Ceza Hukuku” olarak ikiye ayrılmaktadır. Bunlar genellikle “Ceza Genel” ve “Ceza Özel” olarak adlandırılmaktadır. Ceza Hukuku’nun en dikkat çekici ve önemli iki temel ilkesi bulunmaktadır. Bunlar “Suçta ve cezada kanunilik ilkesi” ve “Suçta ve cezada kusur ilkesi” dir.</p>
                            <p>Ceza Genel kapsamı; konusu itibariyle suç kavramının maddi ya da manevi açıdan tanımı, ceza hukuku kapsamında karşımıza çıkacak genel ilkeler, ceza kavramının hukuk çerçevesinde tanımı, suçun ortadan kalkmasına neden olabilecek durumlar, cezanın azalmasına neden olabilecek durumlar başta olmak üzere genel olarak tüm suçlar için geçerliliği kabul edilen ilke ve teorilerdir.</p>
                            <p> Ceza Özel kapsamı; ülke kanunlarınca suç olarak kabul edilen eylemlerin neler olduğunu belirten, bu eylemlerin kapsam ve sınırlarının neler olduğuna dair detayların yer aldığı ve ilgili suçların işlenmesi halinde öngörülen cezaları kapsamaktadır.</p>
                            <p>Yetkin Atik, ceza hukuku kapsamında değerlendirilen tüm senaryolarla ilgili sizlere hukuki danışmanlık hizmeti sunarak profesyonel bir yardım sunmaktadır. Sürecin başından sonuna kadar takipçisi olarak gerekli durumlarda detaylı araştırmalar ve bilgilendirmeler yapmaktadır.</p>

                            <h3>Ceza Hukuku Alanında Hizmet Sağladığımız Vekillik Hizmetlerinden Bazıları</h3>
                            <p>Atik Hukuk Bürosu olarak sizlere Ceza Hukuku kapsamında hizmet verdiğimiz başlıca alanlar aşağıda listelenmiştir. Atik Hukuk Danışmanlık Ceza Hukuku kapsamında yer alan ve bu alanda yer almayan diğer konularda da hizmet vermekteyiz.</p>
                            <ol>

                                <li style="font-family: 'Helvetica';">Kasten Adam Öldürme Suçu</li>

                                <li style="font-family: 'Helvetica';">İrtikap, Zimmet, Rüşvet Suçu</li>
                                <li style="font-family: 'Helvetica';">Taksirle Ölüme Sebep Olma</li>
                                <li style="font-family: 'Helvetica';">Özel Hayatın Gizliliği İhlal Suçu</li>
                                <li style="font-family: 'Helvetica';">Şantaj Suçu</li>
                                <li style="font-family: 'Helvetica';">Tehdit Suçu</li>
                                <li style="font-family: 'Helvetica';">Güveni Kötüye Kullanma Suçu</li>
                                <li style="font-family: 'Helvetica';">Hakaret Suçu</li>
                                <li style="font-family: 'Helvetica';">Konut Dokunulmazlığını İhlal Suçu</li>
                                <li style="font-family: 'Helvetica';">Sulh Ceza Mahkemelerinde Görülen Davalar</li>


                            </ol>
                            <br>

                        </div>
                    </div>
                    <div class="col col-md-4 col-md-pull-8">
                        <div class="service-sidebar">
                            <div class="widget service-list-widget">
                                <h3>Uzmanlık Alanları</h3>
                                <ul>
                                    <li><a href="{% url 'ishukuku' %}">İş ve Sosyal Güvenlik Hukuku</a></li>
                                    <li class="current"><a href="{% url 'cezahukuku' %}">Ceza Hukuku</a></li>
                                    <li><a href="{% url 'ticarethukuku' %}">Ticaret Hukuku</a></li>
                                    <li><a href="{% url 'ailehukuku' %}">Aile Hukuku</a></li>
                                    <li><a href="{% url 'gayrimenkulhukuku' %}">Gayrimenkul Hukuku</a></li>
                                    <li><a href="{% url 'icrahukuku' %}">İcra ve İflas Hukuku</a></li>
                                    <li><a href="{% url 'sigortahukuku' %}">Sigorta Hukuku</a></li>
                                    <li><a href="{% url 'sozlesmelerhukuku' %}">Sözleşmeler Hukuku</a></li>
                                    <li><a href="{% url 'saglikhukuku' %}">Sağlık Hukuku</a></li>
                                </ul>
                            </div>
                            <div class="widget service-list-widget">
                                <h3>Son Hukuki Yayınlarımız</h3>
                                <ul>
                                    {% for makale in besmakale %}
                                    <li><a href="{% url 'makaledetay' makaleslug=makale.makale_slug %}">{{ makale.makale_baslik }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end service-single-section -->


{% endblock %}