{% extends 'websitesi/components/layout.html' %}
{% load static %}

{% block titleMeta %}

    <title>Atik Hukuk - Gayrimenkul Hukuku</title>
    <meta name="description" content="Atik Hukuk Ankara’daki bürosunda gayrimenkul hukuku alanında Ankara merkezli olarak taşınmaz malların alım satımı ve irtifak ipotek tesis ile terkini davalarını yürütmektedir.">
{% endblock %}


{% block body %}

            <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="title">
                            <h2>Gayrimenkul Hukuku</h2>
                        </div>
                    </div>
                </div> <!-- end row -->
                <ol class="breadcrumb">
                    <li><a href="{% url 'anasayfa' %}">Ana Sayfa</a></li>
                    <li><a href="{% url 'gayrimenkulhukuku' %}">Gayrimenkul Hukuku</a></li>
                </ol>
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->


        <!-- start service-single-section -->
        <section class="service-single-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-8 col-md-push-4">
                        <div class="service-single-content">
                            <div class="service-pic">
                                <img src="{% static 'websitesi/images/atik-hukuk-gayrimenkul-hukuku.png' %}" alt="Atik Hukuk Gayrimenkul Hukuku Avukatı">
                            </div>
                            <h2>Gayrimenkul Hukuku</h2>
                            <p>Birey ve kurumların üzerine kayıtlı mülkiyet hakkı kurduğu ya da kurabileceği taşınırlar ve tüm taşınmazlar Eşya Hukuku kapsamında ele alınmaktadır. Eşya Hukuku başlığı altında ele alınan taşınmazlarla ilgili tüm kurallar Gayrimenkul Hukuku adı altında incelenmektedir. Atik Hukuk Bürosu ilgili alanlarda taşınmazlar üzerine eğitim almış, tecrübeli Yetkin Atik gibi ekip arkadaşlarıyla hizmet vermektedir.</p>
                            <p>Birey veya kurumlar üzerine kayıtlı mülkiyetler temelde eşya ya da mülkiyetin taşınabilirliği üzerine bir ayrıma tabii tutulmaktadır. Bu ayrımın yapılmasının temel sebebi ise taşınır eşya ve taşınmaz eşya arasındaki hakların hukuki açıdan korunabilmesidir. Eşyaların niteliklerinde değişkenlik olması nedeniyle Gayrimenkul Hukuku hayatımızın her alanında karşımıza çıkmaktadır. Bu duruma açıklık getirebilmek ve daha anlaşılır olması açısından şu örneği sizlerle paylaşmak istiyoruz; yük olarak oldukça hafif olmasına karşın değer (paha) olarak ağır ya da çok olan bir eşyanın bir yerden farklı bir yere alıp götürülmesi mümkündür. Bu nedenle ilgili eşya hakkında hukuki koruma o eşyaya göre düzenlenmektedir. Fakat bir yerden farklı bir yere taşınması mümkün olmayan (örneğin bir bina) eşyalar üzerindeki haklar ise farklı bir şekilde hukuki koruma kapsamına girmektedir.</p>
                            <p>Atik Hukuk, Gayrimenkul Hukuku’nun temelini oluşturan taşınmazlar, arazi, arsa ve bağımsız bölümler (bina, apartman, iş yeri, konut, villa, fabrika) gibi mülkler konusunda hukuki destek sunmaktadır. Bu alanlar bireylerin geçim sağlayabilmek, yaşamını devam ettirebilmek adına gerekli ihtiyaçları karşılamaya yönelik faaliyetler ve yatırım amacıyla kullanabilmektedir. Boş bir arsa üzerinde çiftçilik faaliyeti gerçekleştirerek geçim sağlamak, bağımsız bölümler üzerinde barınma ihtiyacı karşılamak veyahut ileri bir tarihte değeri artması beklenen bir taşınmazın değeri düşük olduğu sırada satın alınarak ilerleyen süreçte değer artışı ile birlikte kazanç elde etmek bu durumlara örnek olarak gösterilebilir.</p>

                            <h3>Gayrimenkul Hukuku Nedir ?</h3>

                            <p>Kısaca Gayrimenkul Hukuku; Eşya Hukuku bünyesinde yer alan taşınmazları konu edinen davalardır. Gayrimenkul Hukuku’na özel olarak zamanaşımı, hak düşürücü müddetlere sahip bir hukuk dalıdır ve oldukça geniş bir mevzuatı bulunmaktadır. Kiralama ilişkilerinin de içerisinde yer alması sebebiyle Sözleşmeler Hukuku ile oldukça yakın bir ilişkiye sahiptir.</p>
                            <p>Atik Hukuk Bürosu’nun temel çalışma alanlarından birisi olan Gayrimenkul Hukuku konusunda büromuz bünyesinde hizmet sağlayan ekip arkadaşlarımız karmaşık tapu ilişkilerini çözüme kavuşturmak ve herhangi bir husumetin patlak vermesine engel olmak için hizmet sunmaktadır. Birey ya da kurumların bir taşınmazdan doğan mülkiyet haklarını koruma altına almak için Yargıtay İçtihat ve Emsal Kararları yakinen takip edilmelidir.</p>

                            <h3>Atik Hukuk Bürosu Tarafından Gayrimenkul Hukuku Alanında Sağlanan Bazı Hizmetler</h3>
                            <p>Atik Hukuk olarak taşınmazları ilgilendiren konularda birey ve kurumların haklarını savunabilmeleri ve öğrenebilmeleri için hizmet sunmaktayız. Sunduğumuz hizmetlerden bazıları;</p>
                            <ol>
                                <li style="font-family: 'Helvetica';">Tapu İptal ve Tescil Davaları</li>
                                <li style="font-family: 'Helvetica';">İnşaat Sözleşmeleri</li>
                                <li style="font-family: 'Helvetica';">Kat Karşılığı İnşaat Sözleşmeleri</li>
                                <li style="font-family: 'Helvetica';">Önalım, Alım ve Gerialım Davaları</li>
                                <li style="font-family: 'Helvetica';">Muvazaası sebebiyle açılacak olan davalar</li>
                                <li style="font-family: 'Helvetica';">Elbirliği ve Paylı Mülkiyet İlişkilerinden Doğan Davalar</li>
                                <li style="font-family: 'Helvetica';">Ortaklığın Giderilmesi Davaları</li>
                                <li style="font-family: 'Helvetica';">Kira Tespit Davaları</li>
                                <li style="font-family: 'Helvetica';">Kat Mülkiyetinden Doğan Davalar</li>
                                <li style="font-family: 'Helvetica';">Muhtesatın Aidiyeti Davaları</li>

                            </ol>
                            <br>

                        </div>
                    </div>
                    <div class="col col-md-4 col-md-pull-8">
                        <div class="service-sidebar">
                            <div class="widget service-list-widget">
                                <h3>Uzmanlık Alanları</h3>
                                <ul>
                                    <li><a href="{% url 'ishukuku' %}">İş ve Sosyal Güvenlik Hukuku</a></li>
                                    <li><a href="{% url 'cezahukuku' %}">Ceza Hukuku</a></li>
                                    <li><a href="{% url 'ticarethukuku' %}">Ticaret Hukuku</a></li>
                                    <li><a href="{% url 'ailehukuku' %}">Aile Hukuku</a></li>
                                    <li class="current"><a href="{% url 'gayrimenkulhukuku' %}">Gayrimenkul Hukuku</a></li>
                                    <li><a href="{% url 'icrahukuku' %}">İcra ve İflas Hukuku</a></li>
                                    <li><a href="{% url 'sigortahukuku' %}">Sigorta Hukuku</a></li>
                                    <li><a href="{% url 'sozlesmelerhukuku' %}">Sözleşmeler Hukuku</a></li>
                                    <li><a href="{% url 'saglikhukuku' %}">Sağlık Hukuku</a></li>
                                </ul>
                            </div>
                            <div class="widget service-list-widget">
                                <h3>Son Hukuki Yayınlarımız</h3>
                                <ul>
                                    {% for makale in besmakale %}
                                    <li><a href="{% url 'makaledetay' makaleslug=makale.makale_slug %}">{{ makale.makale_baslik }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end service-single-section -->


{% endblock %}