{% extends 'websitesi/components/layout.html' %}
{% load static %}

{% block titleMeta %}

    <title>Atik Hukuk - İcra ve İflas Hukuku</title>
    <meta name="description" content="Avukat Yetkin Atik tarafından Ankara’daki hukuk bürosunda tüzel kişi şirketlerin ve gerçek kişilerin alacaklarının tahsil edilmesine icra takibi ve icra davalarını yürütmektedir.">

{% endblock %}


{% block body %}

            <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="title">
                            <h2>İcra ve İflas Hukuku</h2>
                        </div>
                    </div>
                </div> <!-- end row -->
                <ol class="breadcrumb">
                    <li><a href="{% url 'anasayfa' %}">Ana Sayfa</a></li>
                    <li><a href="{% url 'icrahukuku' %}">İcra ve İflas Hukuku</a></li>
                </ol>
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->


        <!-- start service-single-section -->
        <section class="service-single-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-8 col-md-push-4">
                        <div class="service-single-content">
                            <div class="service-pic">
                                <img src="{% static 'websitesi/images/atik-hukuk-icra-hukuku.png' %}" alt="Atik Hukuk İcra Hukuku Avukatı">
                            </div>
                            <h2>İcra Hukuku</h2>
                            <p>Hukukun temel amacı ve görevi adaletin sağlanmasıdır. Bu amacın gerçekleşmesi için yalnızca kurallar ve yasalar oluşturmak her zaman yeterli olmayabilir. Bu kurallara uyulmaması halinde düzenin sağlanmasına engel olan kişilere bazı yaptırımlar gerçekleştirilmesi gerekecektir. Bu hukukun üstünlüğü ilkesine dayanan bir durumdur. Bireyler arasında gerçekleşen her türlü ilişkiden doğan anlaşmazlıkların zor kullanarak düzeltilmesi ilgili ikili ilişkide uyulması gereken kural ve şartların usulleri İcra Hukuku kapsamında yer almaktadır. Atik Hukuk Bürosu olarak icra hukuku konusunda tecrübeli kadromuz ile hizmet vermekteyiz.</p>
                            <p>İcra Hukuku ya da genel anlamda hukuk, toplum yaşamının düzenlenmesini sağlayan kurallar bütünü olarak adlandırılabilir. Bu kurallar çerçevesinde oluşturulan ve oluşturulmaya çalışılan düzen her şeyin üstünde olmak zorundadır. Bu düzen kapsamında belirlenmiş kurallara uyulmaması halinde bu aykırılığa karşı bir müdahale gerçekleşmez ya da düzeltilmez ise insanlar tarafından hukuka duyulan güvende sarsılma meydana gelebilir. İlerleyen süreçte ise güven ortamı bulunmaması nedeniyle bir düzen oturtulmaya çalışılırken karmaşa meydana gelebilir.</p>
                            <p>İcra Hukuku kapsamında yer alan kurallardan birisi de bireylerin borç-alacak ilişkileri sırasında adaletsizlik ve sonuçsuzluk gibi durumların önüne geçmek için cebren hukuka uygun hareket edilmesidir. Daha anlaşılabilir bir dille açıklamak gerekirse; bireyin alacağını elde edebilmek adına bazı şartlara bağlı kalmak şartıyla icra takibi başlatması ve ilgili takibe rağmen borçlu kişinin borcunu ödememesi halinde yine belirli şartlar dahilinde haciz yoluna gidebilmesi. Günlük yaşantınız içerisinde çevrenizde bu tarz durumlara sıkça rast gelmeniz mümkün. Bu gibi durumlar hukukun bireylerin hayatına yapmış olduğu en somut etkilerden birisi olarak görülebilir.</p>

                            <h3>İcra ve İflas Hukuku Nedir ?</h3>

                            <p>Gerçek ya da tüzel kişilerin, gerçek veya tüzel kişiler ile yaşanmış olan her türlü ilişkiden doğan yükümlülüğün yerine getirilmemesi durumlarında, devlet müdahalesi ile birlikte zorla yerine getirilmesini sağlamaya dair kuralların yer aldığı hukuk dalına İcra Hukuku denir. Atik Hukuk Danışmanlık olarak İcra Hukuku alanından müvekkillerimize profesyonel bir hizmet sunabilmek için devamlı olarak kendimizi geliştiriyor başta Yetkin Atik ve diğer büro çalışanlarımız olarak hizmetlerimizi sunuyoruz.</p>
                            <p>Devlet otoritesi itibariyle elde etmiş olduğu gücü kullanarak Hukukun üstünlüğü ilkesi çerçevesinde bireylerin hukuka aykırı davranışlarını zor kullanarak düzeltmesi ülke içerisinde istikrar ve huzur ortamının korunabilmesi için zorunludur. İcra Hukuku, uygulamaya dayalı hukuk dallarından birisidir. Asli organlar ve yardımcı organlar tarafından gerçekleştirilir.</p>
                            <p><strong>Asli Organlar;</strong> icra takip işleminin yürütülmesinde görev alan birinci dereceden görevli organdır. İcra dairelerinin gözetim ve denetleme işlemlerini gerçekleştirmenin yanı sıra İcra Hukuku kapsamında yer alan davalara bakmakla görevlendirilen icra mahkemeleri ve Yargıtay’ın icra davalarına bakmakla yükümlüdürler.</p>
                            <p><strong>Yardımcı Organlar;</strong> asli organlar tarafından gerçekleştirilen icra işlemleri esnasında yardım & destek sağlamakla görevli organdır. Yardımcı organlar polis, cumhuriyet savcılıkları ve genel mahkemelerdir.</p>

                            <h3>Atik Hukuk Bürosu Tarafından İcra Hukuku Alanında Sağlanan Bazı Hizmetler</h3>
                            <p>Atik Hukuk olarak icra hukuku kapsamında ele alınan tüm dava ve durumlarda tarafların haklarını savunabilmeleri ve öğrenebilmeleri için hizmet sunmaktayız. Atik Hukuk Bürosu bünyesinde Ankara bölgesi öncelikli olmak üzere tüm Türkiye’ye hizmet sağlayan Yetkin Atik ve diğer ekip arkadaşlarımız ile bu alanda sıkça sunduğumuz hizmetlerden bazıları;</p>
                            <ol>
                                <li style="font-family: 'Helvetica';">İcra Takibi Açılması</li>
                                <li style="font-family: 'Helvetica';">İstirdat Davası</li>
                                <li style="font-family: 'Helvetica';">İtirazın Kaldırılması</li>
                                <li style="font-family: 'Helvetica';">İtirazın İptali Davası</li>
                                <li style="font-family: 'Helvetica';">Mal Sorgusu</li>
                            </ol>
                            <br>

                        </div>
                    </div>
                    <div class="col col-md-4 col-md-pull-8">
                        <div class="service-sidebar">
                            <div class="widget service-list-widget">
                                <h3>Uzmanlık Alanları</h3>
                                <ul>
                                    <li><a href="{% url 'ishukuku' %}">İş ve Sosyal Güvenlik Hukuku</a></li>
                                    <li><a href="{% url 'cezahukuku' %}">Ceza Hukuku</a></li>
                                    <li><a href="{% url 'ticarethukuku' %}">Ticaret Hukuku</a></li>
                                    <li><a href="{% url 'ailehukuku' %}">Aile Hukuku</a></li>
                                    <li><a href="{% url 'gayrimenkulhukuku' %}">Gayrimenkul Hukuku</a></li>
                                    <li class="current"><a href="{% url 'icrahukuku' %}">İcra ve İflas Hukuku</a></li>
                                    <li><a href="{% url 'sigortahukuku' %}">Sigorta Hukuku</a></li>
                                    <li><a href="{% url 'sozlesmelerhukuku' %}">Sözleşmeler Hukuku</a></li>
                                    <li><a href="{% url 'saglikhukuku' %}">Sağlık Hukuku</a></li>
                                </ul>
                            </div>
                            <div class="widget service-list-widget">
                                <h3>Son Hukuki Yayınlarımız</h3>
                                <ul>
                                    {% for makale in besmakale %}
                                    <li><a href="{% url 'makaledetay' makaleslug=makale.makale_slug %}">{{ makale.makale_baslik }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end service-single-section -->


{% endblock %}