{% extends 'websitesi/components/layout.html' %}
{% load static %}

{% block titleMeta %}

    <title>Atik Hukuk - İş Hukuku</title>
    <meta name="description" content="Avukat Yetkin Atik önderliğinde kurulan Atik Hukuk Ankara’daki bürosunda İş Hukuku alanında avukatlık yapmakta, kıdem ve ihbar tazminatı ile işe iade davalarına danışmanlık yapmaktadır.">
{% endblock %}


{% block body %}

            <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="title">
                            <h2>İş ve Sosyal Güvenlik Hukuku</h2>
                        </div>
                    </div>
                </div> <!-- end row -->
                <ol class="breadcrumb">
                    <li><a href="{% url 'anasayfa' %}">Ana Sayfa</a></li>
                    <li><a href="{% url 'ishukuku' %}">İş ve Sosyal Güvenlik Hukuku</a></li>
                </ol>
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->


        <!-- start service-single-section -->
        <section class="service-single-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-8 col-md-push-4">
                        <div class="service-single-content">
                            <div class="service-pic">
                                <img src="{% static 'websitesi/images/atik-hukuk-is-hukuku.png' %}" alt="Atik Hukuk İş Hukuku Avukatı">
                            </div>
                            <h2>İş ve Sosyal Güvenlik Hukuku</h2>
                            <p>Geçtiğimiz yüzyıl içerisinde teknolojinin hızla gelişmesi ve sanayi devriminin yan etkileri arasında gösterilebilecek işverenler tarafından işçilerin çalışma koşullarının kötüleştirilmeye çalışılması sorunu ortaya çıkmıştır. Bilhassa işçi ve işçi aileleri açısından önemli sorunlar doğuran bu durumun önlenebilmesi adına bazı yaptırımlar ve önlemler alınması gerekliliği doğmuştur. Sosyal Devlet anlayışının yaygınlaşmasıyla birlikte devlet her bireyin asgari bir yaşam standartına sahip olabilmesini amaç edinmiştir. Bu anlayışın yaygınlaşmasıyla birlikte işçinin korunmasına yönelik fikirler ortaya çıkmış ve günümüzde oldukça gelişmiş bir İş Hukuku kavramı oluşmuştur.</p>
                            <p>Atik Hukuk Danışmanlık olarak İş Hukuku’nu temel alan işçilerin korunmasına yönelik ilkeleri tüm detaylarıyla takip ederek, bu konuda gerçekleştirilen yeni düzenlemelerden anında haberdar oluyor ve bu düzenlemelere katkıda bulunmak için kendimizi devamlı olarak yeniliyoruz. Türkiye işçi haklarını koruma konusunda kendini oldukça geliştirmiş ülkelerden birisidir. Ülkemizin İş Kanunu adını taşıyan özel bir kanunu dahi bulunmaktadır. Bu kanun kapsamında işçilerin sahip oldukları haklar, çalışma koşulları ve sendikalar olmak üzere birçok konuda düzenlemeler gerçekleştirilmiştir. Bu şartlar asgari şartları belirtmekle birlikte işveren çalışanlarının daha iyi bir yaşam ve iş deneyimi için daha fazla imkan tanıyabilirken daha azını tanıması kanuna aykırıdır.</p>
                            <p>Atik Hukuk olarak belirtmek istediğimiz son bir detay ise; İş Hukuku kavramının temelde işçinin korunması fikriyle geliştirilmiş olmasına rağmen işverenlerin aleyhine adaletsiz bir durumun oluşmasını da engellemektedir. Bu nedenle işverenlerin adaletsiz bir hukuk düzeni olduğu yönünde endişelere kapılmasına gerek yoktur.</p>

                            <h3>İş Hukuku Nedir ?</h3>

                            <p>İş Hukuku kısaca; işçi ve işveren ilişkilerinde adaletin sağlanabilmesi ve işçilerin haklarının korunabilmesi, toplumun ekonomik anlamda zarar görmesinin önlenebilmesi adına geliştirilmiş bir hukuk dalıdır. İlgili hukuk işçilerin haklarını korurken aynı zamanda işverenlerin aleyhine adaletsiz bir ortamın oluşmasını önlemek içinde gerekli hukuki önlemleri almaktadır.</p>
                            <p>Ankara bölgesinde İş Hukuku ve işçilerin hakları konuları başta olmak üzere her türlü danışmanlık konusunda ihtiyacınız için Atik Hukuk kadrosu hizmetinize hazırdır. Yetkin Atik başta olmak üzere büromuz bünyesinde hizmet veren deneyimli ve eğitimli ekip arkadaşlarımızla her zaman çözüm odaklı çalışmalar yürüterek süreci başından sonuna kadar takip ederek sizlere hizmet sunmaktayız.</p>

                            <h3>Atik Hukuk Bürosu Tarafından İş Hukuku Alanında Sağlanan Bazı Hizmetler</h3>
                            <p><strong>Atik Hukuk</strong> olarak bireylerin <strong>İş ve Sosyal Güvenlik</strong> konularında haklarını savunabilmeleri ve öğrenebilmeleri için hizmet sunmaktayız. Sunduğumuz hizmetlerden bazıları;</p>
                            <ol>
                                <li style="font-family: 'Helvetica';">Haksız Fesih ve İşe İade Davası</li>
                                <li style="font-family: 'Helvetica';">Haksız Fesihten Doğan Tazminatlar</li>
                                <li style="font-family: 'Helvetica';">Kıdem Tazminatı ve İhbar Tazminatı</li>
                                <li style="font-family: 'Helvetica';">İşçi Alacakları Davaları</li>
                                <li style="font-family: 'Helvetica';">İş Kazası Davaları</li>
                                <li style="font-family: 'Helvetica';">İş Kazası ve Rücuen Tazminat Davası</li>
                                <li style="font-family: 'Helvetica';">Hizmet Tespit Davaları</li>
                                <li style="font-family: 'Helvetica';">Prim Borcundan Doğan Davalar</li>
                                <li style="font-family: 'Helvetica';">Genel Sağlık Sigortası</li>
                                <li style="font-family: 'Helvetica';">İş Göremezlik</li>
                                <li style="font-family: 'Helvetica';">Mobbing Davaları ve İş Hukuku çerçevesinde ele alınan tüm konularda <strong>Atik Hukuk</strong> olarak hizmete hazırız.</li>

                            </ol>
                        </div>
                    </div>
                    <div class="col col-md-4 col-md-pull-8">
                        <div class="service-sidebar">
                            <div class="widget service-list-widget">
                                <h3>Uzmanlık Alanları</h3>
                                <ul>
                                    <li class="current"><a href="{% url 'ishukuku' %}">İş ve Sosyal Güvenlik Hukuku</a></li>
                                    <li><a href="{% url 'cezahukuku' %}">Ceza Hukuku</a></li>
                                    <li><a href="{% url 'ticarethukuku' %}">Ticaret Hukuku</a></li>
                                    <li><a href="{% url 'ailehukuku' %}">Aile Hukuku</a></li>
                                    <li><a href="{% url 'gayrimenkulhukuku' %}">Gayrimenkul Hukuku</a></li>
                                    <li><a href="{% url 'icrahukuku' %}">İcra ve İflas Hukuku</a></li>
                                    <li><a href="{% url 'sigortahukuku' %}">Sigorta Hukuku</a></li>
                                    <li><a href="{% url 'sozlesmelerhukuku' %}">Sözleşmeler Hukuku</a></li>
                                    <li><a href="{% url 'saglikhukuku' %}">Sağlık Hukuku</a></li>
                                </ul>
                            </div>
                            <div class="widget service-list-widget">
                                <h3>Son Hukuki Yayınlarımız</h3>
                                <ul>

                                    {% for makale in besmakale %}
                                    <li><a href="{% url 'makaledetay' makaleslug=makale.makale_slug %}">{{ makale.makale_baslik }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end service-single-section -->


{% endblock %}