{% extends 'websitesi/components/layout.html' %}
{% load static %}

{% block titleMeta %}

    <title>Atik Hukuk - Sağlık Hukuku</title>
    <meta name="description" content="Avukat Yetkin Atik Sağlık Hukuku alanında doktor ve hastanenin yanlış uygulamaları sonucu hasta ile aralarındaki uyuşmazlıklarda hukuki danışmanlık ve avukatlık yapmaktadır.">
{% endblock %}


{% block body %}

            <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="title">
                            <h2>Sağlık Hukuku</h2>
                        </div>
                    </div>
                </div> <!-- end row -->
                <ol class="breadcrumb">
                    <li><a href="{% url 'anasayfa' %}">Ana Sayfa</a></li>
                    <li><a href="{% url 'saglikhukuku' %}">Sağlık Hukuku</a></li>
                </ol>
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->


        <!-- start service-single-section -->
        <section class="service-single-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-8 col-md-push-4">
                        <div class="service-single-content">
                            <div class="service-pic">
                                <img src="{% static 'websitesi/images/atik-hukuk-saglik-hukuku.png' %}" alt="Atik Hukuk Sağlık Hukuku Avukatı">
                            </div>
                            <h2>Sağlık Hukuku</h2>
                            <p>İnsanların en temel haklarından birisi yaşama hakkıdır. Kişilerin diğer haklarından yararlanabilmek için öncelikle sağlıklı bir yaşam sürmeleri gerekmektedir. İnsan Hakları Evrensel Bildirgesi’nin 3. Maddesi’nde “Yaşamak Herkesin Temel Hakkıdır” hükmü ile duyurulmuştur. Yine ilgili bildirgenin 25. Maddesi’nde yer alan “Sağlık Hakkı Temel İnsan Hakkı” olarak kabul edilmiştir. Sağlık Hukuku hakkında detaylara inmeden önce hasta – hekim ilişkisinin tarihsel sürecini ele almalıyız. Hastalar ile hekimler arasında alınması gereken sorumluluklar neredeyse insanlık tarihi kadar eskidir. Eski çağlarda hekimler hastalarına yapmış oldukları müdahalelerden oldukça uzun bir süre sorumlu tutulmamışlardır. Bu durum Fransız Hukuku’na yansıyarak şu sözlerle dile getirilmiştir; Doktorlar öyle kutsal insanlardır ki, yaptıkları işler olumlu sonuçlandığında onlar Tanrı mertebesine yükselirler ama yaptıkları işler olumsuz sonuçlandığında onların hatalarını toprak örter.</p>
                            <p>Geçmiş tarihlerde Fransız Hukuku’nda karşımıza gelen bu özdeyiş ya da kavramların insanlık tarihinden kalkması 20. Yüzyılın başlarında görülmeye başlanmıştır. Tıp alanında gelişmelerin görülmesi Anglosakson ülkelerde eleştiri ve sorgulamanın doğmasına neden olarak hekimlerin yapmış oldukları davranışlar sonucunda ölüm, sakatlık, yaralanma, yüzdeki estetiğin bozulması, zorla aşı yapılması gibi davranışlara karşı bazı sorumlulukları olduğu düşüncesini ortaya çıkarmıştır. Atik Hukuk Bürosu olarak Sağlık Hukuku alanında bireylerin haklarını savunmalarına destek olmak ve onları bu kurallar hakkında bilgilendirmek için hizmet veriyoruz.</p>
                            <p>Sağlık Bakanlığı Hasta Hakları Yönetmeliği 1998 yılında hayatımıza girerek hastaların haklarının nasıl uygulanabileceğine dair bazı konuların belirginleşmesini sağlamıştır. Fakat ilgili yasa hekim ya da hekimlerin kusurlarının belirlenebilmesi için yeterli olmaması sebebiyle Medeni Kanun ve Türk Ceza Kanunu’ndaki maddeler de dikkate alınmaktadır. 01.06.2005 tarihli yürürlüğe girmiş 5237 sayılı Türk Ceza Kanunu’nda sağlık kurumlarında yer alan çalışanların sorumlulukları büyük oranda artmıştır.</p>
                            <p>Atik Hukuk, hastalar ve hekimlerin hakları hakkında yeterli bilgiye sahip olabilmeleri için Yetkin Etik ve diğer ekip arkadaşlarıyla devamlı olarak güncel yasaları takip ederek bunlar hakkında bireyleri bilgilendirme görevini üstlenmektedir.</p>


                            <h3>Sağlık Hukuku Nedir ?</h3>

                            <p>Sağlık Hukuku, hasta ve doktorların haklarının savunulabilmesi için ortaya çıkmış hukuk dallarından birisidir. Sağlık alanında önemli gelişmelerin yaşanması ve özel sağlık kuruluşlarının yaygınlaşmasıyla birlikte hastalara uygulanacak tıbbi işlemlerin tıp standartlarına uygunluğu ve hukuki şartlara uygunluğu sağlanması gerekmektedir. Bu bağlamda doktorlara oldukça önemli ve büyük bir sorumluluk yüklenmektedir. İlgili standartlar ve hukuki şartlara uygunluğun sağlanamaması halinde özel hukuk çerçevesinde maddi ve manevi tazminat davaları, ceza davaları ve idari davalar ile karşılaşılmaktadır.</p>


                            <h3>Atik Hukuk Bürosu Tarafından Sağlık Hukuku Alanında Sağlanan Bazı Hizmetler</h3>
                            <p>Atik Hukuk olarak sağlık hukuku kapsamında değerlendirilen tüm durumlarda tarafların haklarını savunabilmeleri ve öğrenebilmeleri için hizmet sunmaktayız. Sunduğumuz hizmetlerden bazıları;</p>
                            <ol>
                                <li style="font-family: 'Helvetica';">Malpraktis Davaları</li>
                                <li style="font-family: 'Helvetica';">Tıp Hukukundan Doğan Maddi ve Manevi Tazminat Davaları</li>
                                <li style="font-family: 'Helvetica';">Ceza Davaları</li>
                                <li style="font-family: 'Helvetica';">Hekimler Açısından Haklarında Açılmış İdari Soruşturma ve İdare Hukuku Davaları</li>
                            </ol>
                            <br>

                        </div>
                    </div>
                    <div class="col col-md-4 col-md-pull-8">
                        <div class="service-sidebar">
                            <div class="widget service-list-widget">
                                <h3>Uzmanlık Alanları</h3>
                                <ul>
                                    <li><a href="{% url 'ishukuku' %}">İş ve Sosyal Güvenlik Hukuku</a></li>
                                    <li><a href="{% url 'cezahukuku' %}">Ceza Hukuku</a></li>
                                    <li><a href="{% url 'ticarethukuku' %}">Ticaret Hukuku</a></li>
                                    <li><a href="{% url 'ailehukuku' %}">Aile Hukuku</a></li>
                                    <li><a href="{% url 'gayrimenkulhukuku' %}">Gayrimenkul Hukuku</a></li>
                                    <li><a href="{% url 'icrahukuku' %}">İcra ve İflas Hukuku</a></li>
                                    <li><a href="{% url 'sigortahukuku' %}">Sigorta Hukuku</a></li>
                                    <li><a href="{% url 'sozlesmelerhukuku' %}">Sözleşmeler Hukuku</a></li>
                                    <li class="current"><a href="{% url 'saglikhukuku' %}">Sağlık Hukuku</a></li>
                                </ul>
                            </div>
                            <div class="widget service-list-widget">
                                <h3>Son Hukuki Yayınlarımız</h3>
                                <ul>
                                    {% for makale in besmakale %}
                                    <li><a href="{% url 'makaledetay' makaleslug=makale.makale_slug %}">{{ makale.makale_baslik }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end service-single-section -->


{% endblock %}