{% extends 'websitesi/components/layout.html' %}
{% load static %}

{% block titleMeta %}

    <title>Atik Hukuk - Sigorta Hukuku</title>
    <meta name="description" content="Avukat Yetkin Atik tarafından Ankara merkezli Atik Hukuk Bürosunda Sigorta Hukuku alanında trafik sigorta vb. sigorta davaları titizlikle yürütülmektedir.">
{% endblock %}


{% block body %}

            <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="title">
                            <h2>Sigorta Hukuku</h2>
                        </div>
                    </div>
                </div> <!-- end row -->
                <ol class="breadcrumb">
                    <li><a href="{% url 'anasayfa' %}">Ana Sayfa</a></li>
                    <li><a href="{% url 'sigortahukuku' %}">Sigorta Hukuku</a></li>
                </ol>
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->


        <!-- start service-single-section -->
        <section class="service-single-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-8 col-md-push-4">
                        <div class="service-single-content">
                            <div class="service-pic">
                                <img src="{% static 'websitesi/images/atik-hukuk-sigorta-hukuku.png' %}" alt="Atik Hukuk Sigorta Hukuku Avukatı">
                            </div>
                            <h2>Sigorta Hukuku</h2>
                            <p>Sigorta ilişkisi ve sigortacılık ile ilgilenen tüm işletmelerin çalışma ve faaliyetlerini düzenleyen hukuk kurallarının tümüne ve tüm bu kuralları belirli bir sistem içerisinde inceleyerek sunan hukuk dalı Sigorta Hukuku olarak adlandırılır. Atik Hukuk Bürosu olarak Sigorta Hukuku konusunda gerekli ayrımların yapılması ve kurallar çerçevesinde faaliyetlerin sürdürülebilmesi için danışmanlık hizmeti de sunmaktayız.</p>
                            <p>Sigorta Hukuku en geniş tanımıyla ele almak gerekirse “Hususi” ve “Sosyal” sigorta hukuku olmak üzere iki temel alt başlığa ayırabiliriz. Hususi Sigorta; farklı bireylerin özel menfaatlerinin çeşitli senaryolara karşı güvence altına almak adına hür iradeleri ile oluşturdukları riziko teminatlarıdır. Sosyal Sigorta; belirli halk gruplarının sosyal anlamda güvenliklerinin sağlanabilmesi amacıyla kanun tarafından çoğu durumda zorunlu kılınmış mecburi yapılması gereken bir sigortadır.</p>
                            <p>Ülkemizde sigortacılık sektöründe hızlı bir yükseliş ve gelişimin gözlemlenmesiyle birlikte sigorta uygulamaları sonrasında hukuki uyuşmazlıklar da hızlı bir artış yaşanmaktadır. Sigortacılık uygulamalarında rizikonun gerçekleşmiş olup olmadığı, durumun yapılan sigorta kapsamında yer alıp almadığı, kusur derecesi ve tüm bu durumların sözleşmeye olan etkisi, ödemenin kusurlu kişiye rücu edilmesi gibi birçok husus hukuki anlaşmazlıkları doğurabilmektedir.</p>
                            <p>Atik Hukuk, sigorta hukuku kapsamında profesyonel bir iş anlayışı ile genel danışmanlık hizmeti vermektedir. Kaza, zarar, sorumluluk, taşıma, kredi ve finansal risklerin yanı sıra sağlık, emeklilik ve hayat sigortası gibi alanlarda hizmet sağlayan sigorta şirketleri başta olmak üzere birçok kuruma sigortalı ve diğer poliçe lehtarları konusunda yasal takip ile ilgili durumlar ve hukuki danışmanlık hizmeti vermektedir.</p>


                            <h3>Sigorta Hukuku Nedir ?</h3>

                            <p>Kısaca; Sigorta ilişkisi ve sigortacılıkla meşguliyeti bulunan işletmelerin tüm çalışma ve faaliyetlerinin düzenlenmesini sağlayan hukuk kuralları bütününü belirli bir sistem çerçevesinde inceleyen hukuk dalı Sigorta Hukuku’dur.</p>
                            <p>Sigorta Hukuku’nun ortaya çıkmasının arkasında yatan en büyük nedenlerden birisi ise sigortacılık kavramının hızlı bir şekilde yaygınlaşmasıdır. Sigorta uygulamaları sebebiyle meydana gelen hukuki uyuşmazlıkların sayısında gözlemlenen hızlı artış Sigorta Hukuku’nun doğmasına neden olmuştur. Yetkin Atik başta olmak üzere tüm Atik Hukuk Bürosu çalışanları sigortacılık uygulamasında rizikonun meydana gelip gelmediği ve yaşanmış senaryonun sigorta kapsamına dahil olup olmadığı, seviye olarak kusur durumunun belirlenmesi ve ilgili kusur durumunun sözleşme olan etkisi gibi birçok konuda yaşanabilecek hukuki sorunlarda yardımcı olmaktadır.</p>

                            <h3>Atik Hukuk Bürosu Tarafından Sigorta Hukuku Alanında Sağlanan Bazı Hizmetler</h3>
                            <p>Atik Hukuk olarak sigorta ve sigortacılık alanlarında yaşanan tüm anlaşmazlıkların çözümü konusunda hukuki danışmanlık hizmeti sunmaktayız. Tarafların haklarını savunabilmeleri ve öğrenebilmeleri için geniş kapsamlı bir hizmet sunmaktayız. Sunduğumuz hizmetlerden bazıları;</p>
                            <ol>
                                <li style="font-family: 'Helvetica';">Tarımsal Sigortalar</li>
                                <li style="font-family: 'Helvetica';">Makine Sigortaları</li>
                                <li style="font-family: 'Helvetica';">Kaza Sigortaları</li>
                                <li style="font-family: 'Helvetica';">Yangın Sigortaları</li>
                                <li style="font-family: 'Helvetica';">Araç Sigortaları</li>
                                <li style="font-family: 'Helvetica';">Nakliye (Taşımacılık) Sigortaları</li>
                            </ol>
                            <p>Başta olmak üzere Sigorta Hukuku kapsamına giren tüm alanlarda hizmet vermekteyiz.</p>
                            <br>

                        </div>
                    </div>
                    <div class="col col-md-4 col-md-pull-8">
                        <div class="service-sidebar">
                            <div class="widget service-list-widget">
                                <h3>Uzmanlık Alanları</h3>
                                <ul>
                                    <li><a href="{% url 'ishukuku' %}">İş ve Sosyal Güvenlik Hukuku</a></li>
                                    <li><a href="{% url 'cezahukuku' %}">Ceza Hukuku</a></li>
                                    <li><a href="{% url 'ticarethukuku' %}">Ticaret Hukuku</a></li>
                                    <li><a href="{% url 'ailehukuku' %}">Aile Hukuku</a></li>
                                    <li><a href="{% url 'gayrimenkulhukuku' %}">Gayrimenkul Hukuku</a></li>
                                    <li><a href="{% url 'icrahukuku' %}">İcra ve İflas Hukuku</a></li>
                                    <li class="current"><a href="{% url 'sigortahukuku' %}">Sigorta Hukuku</a></li>
                                    <li><a href="{% url 'sozlesmelerhukuku' %}">Sözleşmeler Hukuku</a></li>
                                    <li><a href="{% url 'saglikhukuku' %}">Sağlık Hukuku</a></li>
                                </ul>
                            </div>
                            <div class="widget service-list-widget">
                                <h3>Son Hukuki Yayınlarımız</h3>
                                <ul>
                                    {% for makale in besmakale %}
                                    <li><a href="{% url 'makaledetay' makaleslug=makale.makale_slug %}">{{ makale.makale_baslik }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end service-single-section -->


{% endblock %}