{% extends 'websitesi/components/layout.html' %}
{% load static %}

{% block titleMeta %}

    <title>Atik Hukuk - Sözleşmeler Hukuku</title>
    <meta name="description" content="Yetkin Atik tarafından Ankara merkezli Atik Hukuk Bürosunda Sözleşmeler hukuku alanında hukuki sözleşmelere danışmanlık ve gerektiğinde dava yoluna gidilmesi sağlanmaktadır.">

{% endblock %}


{% block body %}

            <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="title">
                            <h2>Sözleşmeler Hukuku</h2>
                        </div>
                    </div>
                </div> <!-- end row -->
                <ol class="breadcrumb">
                    <li><a href="{% url 'anasayfa' %}">Ana Sayfa</a></li>
                    <li><a href="{% url 'sozlesmelerhukuku' %}">Sözleşmeler Hukuku</a></li>
                </ol>
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->


        <!-- start service-single-section -->
        <section class="service-single-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-8 col-md-push-4">
                        <div class="service-single-content">
                            <div class="service-pic">
                                <img src="{% static 'websitesi/images/atik-hukuk-sozlesmeler-hukuku.png' %}" alt="Atik Hukuk Sözleşme Hukuku Avukatı">
                            </div>
                            <h2>Sözleşmeler Hukuku</h2>
                            <p>İnsanlık tarihi boyunca çevresindeki diğer canlılarla bir ilişki içerisine girmiştir. Bilhassa yerleşik yaşam düzenine geçişle birlikte insanlar arasında ilişkiler hız kazanmış ve ilerlemeye başlamıştır. Sözleşmeler Hukuku yerleşik hayatla birlikte insanlar arasında gerçekleşen ilişkilerin bir düzene oturtulabilmesi ve hukuki açıdan kontrolün sağlanarak sorunların çözüme kavuşturulabilmesi planlanmıştır. Atik Hukuk Bürosu olarak Sözleşmeler Hukuku ve sözleşmeler konusunda danışmanlık sunuyoruz.</p>
                            <p>Birçok kişi “sözleşme” kelimesini duyduğunda çoğunlukla borç doğuran sözleşmeleri aklına getiriyor olsa da sözleşme kavramı yalnızca borç doğuran konularla ilgili değildir. Eşyalar, miras, aile ve kişiler hukuku gibi birçok özel hukuk alanıyla bağlantılı olan Sözleşmeler olduğu gibi idare hukuku ve birey-devlet arasındaki ilişkilere dair sözleşmeler (anayasalar) dahi bulunmaktadır. Yetkin Atik ve tüm Atik Hukuk Danışmanlık çalışanları olarak güncel düzenlemeleri yakinen takip ediyor ve sizlere sorunlarınızın çözümü için en uygun çözüm yolunu bulmakta yardımcı oluyoruz.</p>

                            <h3>Sözleşmeler Hukuku Nedir ?</h3>

                            <p>İki veya daha fazla kişi arasında gerçekleşen ve belirli koşullara bağlı kalınacağı belirtilen ve yasayla desteklenen antlaşmalara Sözleşme denir. Taraflara uygun irade açıklamaları ile gerçekleştirilen sözleşmeler her zaman belirli bir biçimde gerçekleştirilmek zorunda değildir. Fakat, bazı sözleşme türlerinin belirli bir biçimde gerçekleştirilmesi yasalarda belirtilmiştir. Belirli şartlar altında gerçekleştirilmesi gereken sözleşmelere örnek olarak; bir taşınmazın satış sözleşmesinin resmi bir şekilde gerçekleştirilmesi mecburidir. Sözleşmelerin yazılı olarak yapılması ise herhangi bir anlaşmazlık halinde sözleşmeyi kanıtlamayı kolaylaştırmaktadır.</p>
                            <p>Atik Hukuk olarak taraflarca hazırlanmış şirket ana sözleşmeleri, ana sözleşme değişiklikleri, tüm iş sözleşmeleri, barter ve reklam sözleşmeleri, tüm alım-satım sözleşmeleri, inşaat sözleşmeleri, kira sözleşmeleri ve diğer tüm sözleşmeleri inceleyerek müvekkillerimizin aleyhine haksız bir sonuç doğmasına neden olabilecek hususları tespit ederek, ticari sözleşmelerin hazırlanması sürecinde kurumsal ya da bireysel müşterilerimize Atik Hukuk Danışmanlık hizmeti sunuyoruz.</p>

                            <h3>Atik Hukuk Bürosu Tarafından Sözleşmeler Hukuku Alanında Sağlanan Bazı Hizmetler</h3>
                            <p>Atik Hukuk olarak tüm alanlarda hazırlayacağınız sözleşmeler konusunda sizlere yardımcı olarak, müvekkillerimizin aleyhine bir durumun yaşanmasının önüne geçmek için sözleşmeleri detaylıca inceliyoruz. Tarafların haklarını savunabilmeleri ve öğrenebilmeleri için hizmet sunmaktayız. Sunduğumuz hizmetlerden bazıları;</p>
                            <ol>
                                <li style="font-family: 'Helvetica';">Kira Sözleşmesi</li>
                                <li style="font-family: 'Helvetica';">Saklama Sözleşmesi</li>
                                <li style="font-family: 'Helvetica';">Hizmet Sözleşmesi</li>
                                <li style="font-family: 'Helvetica';">İnanç Sözleşmesi</li>
                                <li style="font-family: 'Helvetica';">Adi Ortaklık Sözleşmesi</li>
                                <li style="font-family: 'Helvetica';">Haksız Fiilden, Sözleşmeden, Sebepsiz Zenginleşmeden Doğan Borç İlişkileri</li>
                                <li style="font-family: 'Helvetica';">Satış Sözleşmesi</li>
                                <li style="font-family: 'Helvetica';">Mal Değişim Sözleşmesi</li>
                                <li style="font-family: 'Helvetica';">Bağışlama Sözleşmesi</li>
                                <li style="font-family: 'Helvetica';">Ödünç Sözleşmesi</li>
                                <li style="font-family: 'Helvetica';">Kefalet Sözleşmesi</li>
                                <li style="font-family: 'Helvetica';">Miras Sözleşmesi</li>
                                <li style="font-family: 'Helvetica';">Gizlilik Sözleşmesi</li>
                                <li style="font-family: 'Helvetica';">Cari Hesap Sözleşmesi</li>

                            </ol>
                            <br>

                        </div>
                    </div>
                    <div class="col col-md-4 col-md-pull-8">
                        <div class="service-sidebar">
                            <div class="widget service-list-widget">
                                <h3>Uzmanlık Alanları</h3>
                                <ul>
                                    <li><a href="{% url 'ishukuku' %}">İş ve Sosyal Güvenlik Hukuku</a></li>
                                    <li><a href="{% url 'cezahukuku' %}">Ceza Hukuku</a></li>
                                    <li><a href="{% url 'ticarethukuku' %}">Ticaret Hukuku</a></li>
                                    <li><a href="{% url 'ailehukuku' %}">Aile Hukuku</a></li>
                                    <li><a href="{% url 'gayrimenkulhukuku' %}">Gayrimenkul Hukuku</a></li>
                                    <li><a href="{% url 'icrahukuku' %}">İcra ve İflas Hukuku</a></li>
                                    <li><a href="{% url 'sigortahukuku' %}">Sigorta Hukuku</a></li>
                                    <li class="current"><a href="{% url 'sozlesmelerhukuku' %}">Sözleşmeler Hukuku</a></li>
                                    <li><a href="{% url 'saglikhukuku' %}">Sağlık Hukuku</a></li>
                                </ul>
                            </div>
                            <div class="widget service-list-widget">
                                <h3>Son Hukuki Yayınlarımız</h3>
                                <ul>
                                    {% for makale in besmakale %}
                                    <li><a href="{% url 'makaledetay' makaleslug=makale.makale_slug %}">{{ makale.makale_baslik }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end service-single-section -->


{% endblock %}