{% extends 'websitesi/components/layout.html' %}
{% load static %}

{% block titleMeta %}

    <title>Atik Hukuk - Ticaret Hukuku</title>
    <meta name="description" content="Avukat Yetkin Atik Ticaret Hukuku alanında Ticari şirketlere hukuki danışamanlık hizmeti vermekte ve  ticari davaları yürütmektedir.">

{% endblock %}


{% block body %}

            <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="title">
                            <h2>Ticaret Hukuku</h2>
                        </div>
                    </div>
                </div> <!-- end row -->
                <ol class="breadcrumb">
                    <li><a href="{% url 'anasayfa' %}">Ana Sayfa</a></li>
                    <li><a href="{% url 'ticarethukuku' %}">Ticaret Hukuku</a></li>
                </ol>
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->


        <!-- start service-single-section -->
        <section class="service-single-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-8 col-md-push-4">
                        <div class="service-single-content">
                            <div class="service-pic">
                                <img src="{% static 'websitesi/images/atik-hukuk-ticaret-hukuku.png' %}" alt="Atik Hukuk Ticaret Hukuku Avukatı">
                            </div>
                            <h2>Ticaret Hukuku</h2>
                            <p>Günümüzde insan yaşantısının temel unsurlarından birisi kuşkusuz ekonomik faaliyetlerden oluşmaktadır. Ekonomik faaliyetlerin en büyük payı ise ticaret üzerinden gerçekleşmektedir. İki taraf arasında gerçekleşen ticaretin koruma altına alınması ve sorunların çözüme kavuşturulabilmesi için düzenlenen hukuk ise Ticaret Hukuku olarak adlandırılmaktadır. <strong>Atik Hukuk Bürosu</strong> olarak Ticaret Hukuku alanında hizmet vererek tüm ticari konularda hukuki bir danışmanlık hizmeti sunmaktayız.</p>
                            <p>İnsanlık tarihi boyunca ihtiyaçlarını karşılayabilmek ve yaşamını sürdürebilmek için bazı faaliyetlerde bulunmuştur. Günümüzde oldukça geniş kapsamlı ve çeşit çeşit ticari alanlar türemiş, insanlar için alternatif faaliyet alanları meydana doğmuştur. İlgili ticari faaliyetler sırasında meydana yaşanabilecek anlaşmazlıklar ve sorunların çözümü konusunda Yetkin Atik ve büromuza bağlı hizmet sağlayan diğer ekip arkadaşlarımızla birlikte sizlere hukuki danışmanlık hizmeti sunmaktayız. Ticaret; üretim aşamasından tüketim aşamasına kadar geçen süreç içerisinde herhangi bir malın belirli bir değer karşılığında değiştirilmesi olarak tanımlanabilir.</p>
                            <p>Ekonomik faaliyetler içerisinde kaplamış olduğu oldukça geniş bir alan sebebiyle önemli bir değere sahip olan ticaret ile ilgili bir kanun düzenlenmiştir. Ticari konularda birçok sorunun çözümünde bu kanundan yararlanılarak çözüme ulaşılmaya çalışılıyor olsa da diğer kanun ve kurallara da zaman zaman başvurma ihtiyacı doğmaktadır. Türk Borçlar Kanunu başta olmak üzere birçok özel kaynaktan da yararlanılarak çoğu zaman hukuki danışmanlarınız tarafından yönlendirileceğiniz kurallar yardımıyla da çözüme ulaşmak mümkündür.</p>

                            <h3>Ticaret Hukuku Nedir ?</h3>

                            <p>Birey ve kurumlar açısından ticari faaliyetlerin önemli bir yere sahip olması nedeniyle herhangi bir durumda yaşanılacak anlaşmazlıklar ve zararların büyük ölçülere ulaşması halinde geri dönülemez bir yola girilmesi mümkündür. Bu gibi nedenlerden ötürü ortaya çıkan Ticaret Hukuku kavramı tüm ticari faaliyetler sırasında tarafların haklarını korumak ve sorunları çözüme kavuşturmak için oluşturulmuştur.</p>
                            <p>Atik Hukuk, ticaret esnasında yaşanılabilecek anlaşmazlık ve zararların önlenebilmesi için hukuki danışma hizmeti sunmaktadır. Atik Hukuk Danışmanlık hizmeti sayesinde ticaret hukuku hakkında detaylı olarak bilgi sahibi olabilir ve kurallar dahilinde faaliyetlerinizi sürdürerek ticari faaliyetlerinizin aksamaması ve herhangi bir zarar oluşmasını önleyebilirsiniz.</p>

                            <h3>Atik Hukuk Bürosu Tarafından Ticaret Hukuku Alanında Sağlanan Bazı Hizmetler</h3>
                            <p>Atik Hukuk olarak ticaret ile ilgili konularında ticari faaliyet gösteren tarafların haklarını savunabilmeleri ve öğrenebilmeleri için hizmet sunmaktayız. Sunduğumuz hizmetlerden bazıları;</p>
                            <ol>
                                <li style="font-family: 'Helvetica';">Ticari Sözleşmeler</li>
                                <li style="font-family: 'Helvetica';">Ticari Uyuşmazlıklar</li>
                                <li style="font-family: 'Helvetica';">Haksız Rekabet</li>
                                <li style="font-family: 'Helvetica';">Ortaklıktan Çıkma ve Çıkarılma</li>
                                <li style="font-family: 'Helvetica';">Genel Kurul Kararları</li>
                                <li style="font-family: 'Helvetica';">İptal Davaları</li>


                            </ol>
                            <br>

                        </div>
                    </div>
                    <div class="col col-md-4 col-md-pull-8">
                        <div class="service-sidebar">
                            <div class="widget service-list-widget">
                                <h3>Uzmanlık Alanları</h3>
                                <ul>
                                    <li><a href="{% url 'ishukuku' %}">İş ve Sosyal Güvenlik Hukuku</a></li>
                                    <li><a href="{% url 'cezahukuku' %}">Ceza Hukuku</a></li>
                                    <li class="current"><a href="{% url 'ticarethukuku' %}">Ticaret Hukuku</a></li>
                                    <li><a href="{% url 'ailehukuku' %}">Aile Hukuku</a></li>
                                    <li><a href="{% url 'gayrimenkulhukuku' %}">Gayrimenkul Hukuku</a></li>
                                    <li><a href="{% url 'icrahukuku' %}">İcra ve İflas Hukuku</a></li>
                                    <li><a href="{% url 'sigortahukuku' %}">Sigorta Hukuku</a></li>
                                    <li><a href="{% url 'sozlesmelerhukuku' %}">Sözleşmeler Hukuku</a></li>
                                    <li><a href="{% url 'saglikhukuku' %}">Sağlık Hukuku</a></li>
                                </ul>
                            </div>
                            <div class="widget service-list-widget">
                                <h3>Son Hukuki Yayınlarımız</h3>
                                <ul>
                                    {% for makale in besmakale %}
                                    <li><a href="{% url 'makaledetay' makaleslug=makale.makale_slug %}">{{ makale.makale_baslik }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end service-single-section -->


{% endblock %}